.items {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 4rem;
}

.item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.imageContainer {
    flex: 1;
    position: relative;
    aspect-ratio: 1/1; 
}

.image {
    border-radius: 50%;
    border: 3px solid lightgray;
    object-fit: cover;
}

.textContainer {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.category {
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 0.85rem;
    color: white;
    width: max-content;
}

.category.travel {
    background-color: #ff7857;
}

.culture {
    background-color: #ffb14f;
}

.food {
    background-color: #7fb881;
}

.fashion {
    background-color: #ff7887;
}

.coding {
    background-color: #775aec;
}

.style {
    background-color: #789cff;
}

.postTitle {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--softTextColor);
}

.detail {
    font-size: 0.85rem;
}

.date {
    color: gray;
}